.containers {
  width: 90%;
  margin: auto;
}

.bg-brand {
  background-image: linear-gradient(75deg, #12CBC4, #9980FA);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.text-brand {
  color: #1cc7c1;
}

.text-span{
  color: #ff7675;
}

.text-color{
  color:  #FDA7DF;
}

.payment-text{
  color: #FD7272;
}
